

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="./static/Ed.css">

 
  <body>
    <div class ="header">
        <img class = "logo" img src = "static/images/ES-logo.png"></img>

        <nav class = "navbar">

          <ul class = "nav-menu">
            <li class = "nav-item">
              <a href ="#" class = "nav-link">Home</a>
            </li>

            <li class = "nav-item">
              <a href ="#" class = "nav-link">Music</a>
            </li>

            <li class = "nav-item">
              <a href = "http://127.0.0.1:8000/game" class = "nav-link">Games</a>
            </li>

            <li class = "nav-item">
              <a href ="#" class = "nav-link">Contact</a>
            </li>

            <li class = "nav-item">
              <a href ="#" class = "nav-link">Sign Up</a>
            </li>


          </ul>
          <div class = "hamburger">
            <span class = "bar"></span>
            <span class = "bar"></span>
            <span class = "bar"></span>
          </div>
        </nav>


    </div>

    <div class = "ed">

      <div class = "one">
        <img class = "Ed" img src = "https://phantom-marca.unidadeditorial.es/56eb2db500d4e0e8d00c198102da7cac/resize/1320/f/webp/assets/multimedia/imagenes/2023/05/08/16835686875455.jpg">


      </div>

      <div class = "two">
        <p style = "color: azure; font-family: 'courier-std', monospace; font-size: 30px">"Ed Sheeran, one of the most talented singer, </br>whose lyrics can reasonates with your inner soul."</p> </br>

      </div>
      


    </div>

    <div class = "section2">
      <div class = "text">
        <p style = " color: rgb(8, 9, 9); font-family: 'courier-std', monospace; font-size: 30px">"HE SING WITH HIS HEART, FROM MULTIPLY, DIVIDE, ADD TO SUBTRACT"</p>
      </div>

      <div class = "img">
        <img class = "ED2" img src = "https://www.tampabay.com/resizer//i7mr-Uj8Q_jIKfadqRK9J5zMeow=/900x506/smart/filters:format(webP)/cloudfront-us-east-1.images.arcpublishing.com/tbt/3GNXB2GJDAI6TAOPPAY4DVT77I.jpg">
      </div>
     

  </div>



  </div>

 
  
    <div class ="album">
      <div class = "one">
        <p>"Add"</p>
      </div>
      <div class = "item equal">
        <img class = "image" img src = "static/images/equal.png"></img>
      </div>
      <div class = "item divide">
        <img class = "image" img src = "static/images/mutiply.jpg"></img>
      </div>
      <div class = "one">
        <p>"Multiply"</p>
      </div>


      <div class = "one">
        <p>"Subtract"</p>
      </div>


      <div class = "item subtract">
        <img class = "image" img src = "static/images/subtract.webp"></img>

  
      </div>
      
      <div class = "item mutiply">
        <img class = "image" img src = "static/images/divide.jpg"></img>
      </div>

      <div class = "one">
        <p>"Divide"</p>
      </div>

    </div>





 

    <div class = "section4">
      <p style = "font-family: 'courier-std', monospace; font-size: 30px">Which one will you choose?</p>
    </div>
    <script src = "./static/Ed.js"></script>

</body>