<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./static/Game.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>

      <div class ="header">
        <img class = "logo" img src = "static/images/ES-logo.png"></img>

        <nav class = "navbar">

          <ul class = "nav-menu">
            <li class = "nav-item">
              <a href ="#" class = "nav-link">Home</a>
            </li>

            <li class = "nav-item">
              <a href ="#" class = "nav-link">Music</a>
            </li>

            <li class = "nav-item">
              <a href = "http://127.0.0.1:8000/game" class = "nav-link">Games</a>
            </li>

            <li class = "nav-item">
              <a href ="#" class = "nav-link">Contact</a>
            </li>

            <li class = "nav-item">
              <a href ="#" class = "nav-link">Sign Up</a>
            </li>


          </ul>
          <div class = "hamburger">
            <span class = "bar"></span>
            <span class = "bar"></span>
            <span class = "bar"></span>
          </div>
        </nav>


    </div>











      <div class = "text">
        GO AHEAD AND START PLAYING! PROVE YOUR LOYALTY TO ED SHEERAN!


      </div>

      <div class = 'mainScreen'>
        <div class = "screen">
          <div class = "player">
            <div class = "head">
              <h1 class = "heading">Player2</h1>
  
            </div>
            <div class = 'score'>
              <p>Score:&nbsp </p>
              <p id = 'p1Score'>0</p>
            
            </div>

            <div class = "input">
              <input id = 'input1' type="text" placeholder="Enter text">


            
            </div>


          <div class = "submit">
            <button class = 'submit' onclick="returnText('1')">submit</button>
            
          </div>
          </div>
    

          </div>
         
          <div class = "grid-container">
        
              <p class = "happy"></p>
              <button class = 'restart' id = 'restart'>Restart Game</button>

           
            <div id = 'one' class = 'button btn 1'></btn></div>
            <div id = 'two'class = 'button btn 2'></div>
            <div id = 'three' class = 'button btn 3'></div>
            <div id = 'four' class = 'button btn 4'></div>
            <div id = 'five' class = 'button btn 5'></div>
            <div id = 'six' class = 'button btn 6'></div>
            <div id = 'seven' class = 'button btn 7'></div>
            <div id = 'eight' class = 'button btn 8'></div>
            <div id = 'nine' class = 'button btn 9'></div>
         
        </div>
        <div class = "player2">
          <div class = "head">
            <h1 class = "heading">Player2</h1>

          </div>
          <div class = 'score'>
            <p>Score:&nbsp</p> 
            
            <p id = 'p2Score'>0</p>
          
          </div>


          <div class = "input">
            <input id = 'input2' type="text" placeholder="Enter text">



            </input>
          </div>

          <div class = "submit">
            <button class = 'submit' onclick="returnText('2')">submit</button>
          </div>
        </div>
  
  
  
        </div>




      </div>
     

  
       
    </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

	<script src="./static/Game.js"></script>
  </body>
</html>